/* signInPage style======================================================> */
.signInPage {
    background-color: #eff5ff;
    min-height: 100vh;
    overflow: auto;
}


/* signInContainer======================================================> */
.signInContainer {
    margin: var(--section-margin) auto !important;
    display: flex;
    width: 70%;
    border-radius: .625rem;
    overflow: hidden;


}




/* signIn-right-panel======================================================> */
.signInRightPanel {
    padding: 2.1875rem 1.5625rem;
    width: 60%;
    background-color: white;
}

.signInRightPanel .formHeader {
    margin-bottom: var(--margin-heading);
}

.signInRightPanel h4 {
    font-size: var(--font-size-h4) !important;
    font-weight: 700;
    color: var(--text-primary);

}

.signInRightPanel p {
    font-size: var(--font-size-p) !important;
    color: var(--text-secondary);
    margin-top: var(--margin-between-elements) !important;
    font-weight: 500;

}

.signInRightPanel p a {
    color: #3947d5;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

/* signInRightPanel form */
.signInRightPanel form {
    margin-top: var(--margin-between-elements);
}


.signInRightPanel button i {
    transition: .3s all ease-in-out;

}

.signInRightPanel button:hover i {
    transform: translateX(30%);

}

.signInRightPanel .forgetPassword {
    font-size: var(--font-size-p);
    font-weight: 700;
    color: #1d4eda;
    margin-bottom: var(--margin-between-elements) !important;
    cursor: pointer;
}



/* signIn-left-panel======================================================> */
.signInLeftPanel {
    width: 40%;
    background: var(--primary-color);
    padding: 2.1875rem 1.5625rem;
}

.signInLeftPanel h5 {
    font-size: var(--font-size-h5) !important;
    color: white;
    cursor: pointer;
}

.signInLeftPanel h5 i {
    transition: .3s all ease-in-out;

}

.signInLeftPanel h5:hover i {
    transform: translateX(-30%);

}

.signInLeftPanel .logo {
    margin: var(--margin-heading) auto !important;
}

.signInLeftPanel h2 {
    margin-top: var(--margin-between-elements) !important;
    color: white;
    font-size: var(--font-size-h4);
    font-weight: 600;
}

.signInLeftPanel p {
    margin-top: var(--margin-between-elements) !important;
    color: #dbeafe;
    font-size: var(--font-size-p);
    font-weight: 500;
}

/* responsive design======================================================> */
@media (max-width:1200px) {
    .signInContainer {

        width: 90%;

    }


}

@media (max-width:800px) {
    .signInContainer {
        width: 100%;
        flex-direction: column;
    }

    .signInLeftPanel, .signInRightPanel {
        width: 100%;
    }


}