/* verifyResetPage */
.verifyResetPage {
    background-color: var(--background-secondary);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* verifyResetFormWrapper */
.verifyResetFormWrapper {
    display: flex;
    width: 70%;
    border-radius: .25rem;
    overflow: hidden;
    margin: auto;
}

/* verifyResetLeftPanel */
.verifyResetLeftPanel {
    width: 40%;
    background: var(--background-primary);
    padding: 2.1875rem 1.5625rem;
}

/* backLink */
.backLink {
    font-size: var(--font-size-h5) !important;
    color: white;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 1rem;
}

.backLink i {
    transition: .3s all ease-in-out;
}

.backLink:hover i {
    transform: translateX(-30%);
}

/* logo */
.logo {
    margin: var(--margin-heading) auto !important;
}

/* title */
.verifyResetLeftPanel .title {
    margin-top: var(--margin-between-elements) !important;
    color: white;
    font-size: var(--font-size-h4);
    font-weight: 600;
}

/* desc */
.verifyResetLeftPanel .desc {
    margin-top: var(--margin-between-elements) !important;
    color: #dbeafe;
    font-size: var(--font-size-p);
    font-weight: 500;
}

/* verifyResetRightPanel */
.verifyResetRightPanel {
    padding: 2.1875rem 1.5625rem;
    width: 60%;
    background-color: var(--background-light);
}

/* formHeader */
.formHeader {
    margin-bottom: var(--margin-heading);
}

.formHeader .title {
    font-size: var(--font-size-h4) !important;
    font-weight: 700;
    color: var(--text-primary);
}

.formHeader .emailDisplay{
    color: var(--text-secondary);
    font-weight: 500;
    margin-top: .5rem !important;
}

.formHeader .emailDisplay strong{
    color: black;
}



.inputsContainer input{
    padding-left: .5rem;
}


/* submittingButton */
.submittingButton {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submittingButton i {
    transition: .3s all ease-in-out;
}

.submittingButton:hover i {
    transform: translateX(30%);
}

/* responsive design */
@media (max-width:1200px) {
    .verifyResetFormWrapper {
        width: 90%;
    }
}

@media (max-width:800px) {
    .verifyResetFormWrapper {
        width: 100%;
        flex-direction: column;
    }

    .verifyResetLeftPanel,
    .verifyResetRightPanel {
        width: 100%;
    }
}