@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}
.cursorPointer{
    cursor: pointer;
}

:root {


    /* background color */
    --background-primary: linear-gradient(to bottom right, #2563eb, #4338ca);
    --background-secondary: #f9fafb;
    --background-light: white;


    /* primary color */
    --primary-color: #3947d5;

    /* text color */
    --text-primary: #111827;
    --text-secondary: #666666;
    /*each p must be contain this property font waight:400*/
    --text-white: white;

    /* font size */
    --font-size-h1: 3.75rem;
    --font-size-h2: 3.125rem;
    --font-size-h3: 2.5rem;
    --font-size-h4: 1.875rem;
    --font-size-h5: 1.25rem;
    --font-size-h6: 1.125rem;
    --font-size-p: 1rem;
    --font-size-a: 1.25rem;
    --font-size-li: 1.125rem;
    --font-size-button: 1.125rem;

    /* margin-between-elements */
    --margin-between-elements: 1.25rem;
    --margin-heading: 1.875rem;
    --section-margin: 5rem;
    --vertical-gap: 5rem;
    --nav-spacing: 7.5rem; /* the old value is 140px*/
    --header-gap: 5rem;
}

.redStar {
    color: red;
    margin-right: .375rem;
}

/* button style */
.PrimaryButtonStyle {
    font-weight: bold;
    background: #2563eb;
    padding: .625rem 1.5625rem;
    border-radius: .3125rem;
    border: none;
    color: white;
    width: 100%;
    font-size: var(--font-size-button);
}

.ButtonStyle {
    font-weight: bold;
    padding: .625rem 3.75rem;
    border-radius: .3125rem;
    border: none;
    font-size: var(--font-size-button);
    transition: .3s all ease-in-out;
}

.ButtonStyle:hover {
    transform: scale(1.01);
}

/* input style */
.inputStyle {
    display: block;
    width: 100%;
    padding: .5rem .3125rem;
    border-radius: .3125rem;
    border: solid 1px #d1d5db !important;
    outline: none;
}


/* lable style */
.lableStyle {
    font-size: 1.0625rem;
    font-weight: 700;
    color: #374151;
    margin-bottom: .375rem;
}






p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0 !important;
}


.specialContainer {
    width: 90%;
    margin: auto;
}


.greenborder {
    border: green 3px solid;
}

.redborder {
    border: red 3px solid;
}


.blueborder {
    border: blue 3px solid;
}

.goldborder {
    border: gold 3px solid;
}

/* responsive design==============================================> */
@media (max-width:1400px) {
    :root {
        font-size: 15px;
    }

    .specialContainer {
        width: 92%;

    }
}

@media (max-width:1200px) {
    :root {
        font-size: 14px;
    }

    .specialContainer {
        width: 94%;
    }
}

@media (max-width:1000px) {
    :root {
        font-size: 13px;
    }

    .specialContainer {
        width: 96%;
    }
}

@media (max-width:800px) {
    :root {
        font-size: 12px;
    }

    .specialContainer {
        width: 96%;
    }

}

@media (max-width:600px) {
    :root {
        font-size: 11px;
    }

}

@media (max-width:400px) {
    :root {
        font-size: 10px;
    }

    .specialContainer {
        width: 98%;
    }
}

@media (max-width:300px) {
    :root {
        font-size: 9px;
    }

}


/* 
Responsive design
1200px: text=> 90% ,img=> 70.
1000px: img=> 80%.
800px: text=> 100% , img=> 90%.
600px: img=> 100%.

*/
