/* channelsSection */
.channelsSection {
    margin-top: var(--section-margin);
    margin-bottom: var(--section-margin);
}

/* channelsHeader */
.channelsHeader {
    margin-bottom: var(--margin-heading);
}

.channelsHeader .title {
    font-size: var(--font-size-h3);
    font-weight: 600;
    color: var(--text-primary);
}

/* channelContent */
.channelContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

/* channel */
.channel {
    background-color: #F3F4F6;
    color: #374151;
    padding: .5rem 1rem;
    border-radius: 1.25rem;
    cursor: pointer;
}